.overlap {
    position: absolute;
    align-items: center;
}

.csv {
    margin-left: 43%;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 2%;
    border-radius: 25px;
}

#myFile {
    border-radius: 25px;
    border: 2px solid #DF91F1;
    padding: 20px;
}

#hideMe{
    text-align: center;
    margin: auto;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
  }

#showMe {
    visibility: hidden;
}

.margin {
    margin: 3%;
}

.center {
    text-align: center;
}

.btn-primary {
    border-radius: 10px;
    transition-duration: 0.4s;
    background: #DF91F1;
    border-color: #ccc;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border-color: black;
}

#csvDiv {
    height: 65vh;
    margin-left: 5%;
    width: 90%;
    overflow: auto;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

::-webkit-scrollbar {
    width: 2px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}

tr:nth-child(even) {
    background: #d4d4d4;
}

th,
td {
    padding: 10px 30px;
}

th {
    border-bottom: 1px solid #d4d4d4;
}

#snackbar {
    border-radius: 25px;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #DF91F1;
    color: white;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}