.overlap {
    position: fixed;
}

.csv {
    margin-left: 43%;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 2%;
    border-radius: 25px;
}

#myFile {
    border-radius: 25px;
    border: 2px solid #DF91F1;
    padding: 20px;
}

#showMe {
    visibility: hidden;
}

.btn-primary {
    background: #DF91F1;
    color: black;
    border-color: #ccc;
}

#csvDiv {
    height: 70%;
    margin-left: 5%;
    width: 90%;
    overflow: auto;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}

tr:nth-child(even) {
    background: #d4d4d4;
}

th,
td {
    padding: 10px 30px;
}

th {
    border-bottom: 1px solid #d4d4d4;
}